
<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img src="" alt="">
      <strong style="color: orangered; font-size: large;" >Leave Management System</strong>
    </a>
    <form class="d-flex"> 
        <button class="btn btn-outline-light" (click)="logout()" *ngIf=isLoggedin >Logout</button>
    </form>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- <section id="topSection" class="blue"></section>
<section class="red"></section>
<section class="yellow"></section>
<section class="green"></section>
<div id="btnTop" class="fixed-action-btn smooth-scroll" style="bottom: 45px; right: 24px;display: none;">
  <a href="#topSection" class="btn-floating btn-large red">
    <i class="fa fa-arrow-up"></i>
  </a>
</div> -->



 
 


