<div class="d-flex bd-highlight mb-5  navbar navbar-dark navbar-nav" >
  <ul class="ms-auto col-sm-2  ">
<a type="button" (click)="onSubmit()" class="ms-auto p-0  btn   nav-link">Logout</a>
</ul>
</div>



<div class="container-fluid text-center py-5" >  
  
  
    <div class="row content">
      <div class="col-sm-4 ">
       
      </div>
      <div class="col-sm-4 text-left bg-white p-5 " style="margin-top: auto; border-radius: 35px;" > 
        <h1>Apply for a leave</h1>
            <form >
                <br>
                <input [(ngModel)]="leave.username" type="text" class="form-control border border-success" id="username" name="username" placeholder="Username">
                <br>
                <br>
                <input [(ngModel)]="leave.dt" type="date" class="form-control border border-success"  value="date" min="2021-01-01" max="2021-12-31" id="date" name="dt" placeholder="Date">
                <br>
                <br>
                <input [(ngModel)]="leave.des" type="text"  class="form-control border border-success"id="reason" name="des" placeholder="Reason for leave">
                <br>
                <br>
                <!-- <input  type="text" class="form-control border border-success" id="id" name="id" placeholder="Id">
                <br> -->
                <br>
                <a type="button" (click) = "saveLeave()" class="btn btn-lg btn-outline-dark">Apply for a leave</a>
            </form>
      </div>
    </div>
  </div>

  <router-outlet>
      
  </router-outlet>
  
  