<div class="d-flex bd-highlight mb-5  navbar navbar-dark navbar-nav" >
    <ul class="ms-auto col-sm-2  ">
  <a type="button" (click)="onSubmit()" class="ms-auto p-0  btn   nav-link">Logout</a>
  </ul>
  </div>


<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center py-3 ">Leaves Table</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Reason</th>
                                        <th>date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let l of leave">
                                        <td>{{l.username}}</td>
                                        <td>{{l.des}}</td>
                                        <td>{{l.dt}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 

